html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    
}


nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 18px;
}

.hero {
    height: 100vh;
    background-image: url(BF.jpeg); 
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004b;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004b;
    transition: .4s;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.btn{
    background-color: #f9004b;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    padding: 10px 25px;
    transition: transform .4s;
    border-radius: 30px;

}
.btn:hover{
    transform: scale(1.2);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.content{
    position: absolute; 
    top: 50%;
    left: 8%;
    transform: translateY(-50px);
}

.newsletter form{
    width: 380px;
    max-width: 100px;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 150px;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004b;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#f9004b ;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: -190px;
}

footer {
  position: relative;
  width: 100%; 
  height: auto; 
  background: #101010; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0; 
  color: #ffffff; 
  font-family:sans-serif; 
}

footer p:nth-child(1){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004b;
    border-radius: 50%;
    margin: 28px 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;

}



/* Breakpoint for tablet to laptop devices */
@media only screen and (max-width: 1024px) {
  .hero {
   
    height: auto; 
  }

  .main, .title h2 {
   
    width: 90%; 
    margin: 0 auto; 
  }

  .box {
    flex-direction: column; 
  }

  .newsletter form input:first-child, .newsletter form input:last-child {
    width: 90%; 
    margin: 0 auto; 
    display: block; 
  }

  .newsletter form input:last-child {
    right: 0; 
    margin-top: 10px; 
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  
  nav {
    flex-direction: column;
    padding-top: 20px;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    padding: 5px; 
  }

  .btn {
    margin-top: 10px; 
  }

  
  .hero {
    background-size: auto; 
  }

  .content, .about-text, .newsletter form {
    width: 100%; 
    padding: 0 20px; 
  }

  .content h1, .content h3, .about h2, .title h2, .card h5 {
    font-size: smaller; 
  }

  .newsletter form input[type="email"], .newsletter form input[type="submit"] {
    width: auto; 
    padding: 10px; 
  }

  .newsletter form input[type="submit"] {
    position: relative; 
    top: 0;
    right: 0;
    margin: 10px auto; 
    display: block; 
  }

  .main, .box {
    flex-direction: column; 
  }

  .about img, .card {
    width: 90%; 
    margin: 0 auto; 
  }

  .service, .contact {
    padding: 50px 20px; 
  }

  footer p:nth-child(1) {
    width: auto;
    padding: 0 20px;
  }
}
